<div class="col-lg-6">

    <h3>{{titulo}}</h3>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{ alertMessage }}
        </div>
    </div>

    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="col-lg-10">

        <p>
            <label>Nombre:</label>
            <input type="text" formControlName="name" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="submitted && form.name.errors">El nombre es obligatorio!</span>
        </p>

        <p>
            <label>Apellido:</label>
            <input type="text" formControlName="surname" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="submitted && form.surname.errors">El apellido es obligatorio!</span>
        </p>

        <p>
            <label>Correo:</label>
            <!-- accede a la propriedad de component, user, para indicar que modifica el email -->
            <input type="email" formControlName="email" [(ngModel)]="user.email" class="form-control" required />
            <!-- mostrar mensaje error si no se rellena el campo -->
            <span *ngIf="submitted && form.email.errors">El email es obligatorio!</span>
        </p>

        <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img src="{{url + 'get-image-user/' + user.image}}" style="width: 50px;" />
        </div>

        <p>
            <label>Sube tu foto:</label>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
        </p>

        <input type="submit" value="Actualizar" class="btn btn-primary" />

    </form>

</div>
